#header {
    #first {
        $primary-text-header:55px;
        color: $primary-color-header;
        font-size: $primary-text-header;
        font-weight: bold;
        background:$heading-bg-color;
    }
}