$primary-color: #3498db;
$font-size-text: 94px;
$color-text: white;
$size: large;

@import 'headerVariable';
@import 'standard';
@import 'header';
@import 'glowing.scss';

@mixin border-item($color, $width) {
    border: $width solid $color;
}

@import 'bordering';




body {
    font-family: 'Arial', sans-serif;
    background-color: $primary-color;

    h1 {
        color: white;
        text-align: center;
    }

    .nakik {
        font-size: $font-size-text;
        color: $color-text;
    }

    .button-#{$size} {
        font-size: 2rem;
        border: none;
        border-radius: 12px;
        outline: none;
        padding: 4px 8px;
        box-shadow: 0px 0px 2px rgba(172, 255, 47, 0.317);
    }

    .hello {
        $color-text: blue;
        color: $color-text;
    }

    .para2 {
        $font-size-text: 26px;
        color: $color-text;
        font-size: $font-size-text;
        font-weight: bold;
    }

    .lorem {
        $font-size-text: 45px !global;
        font-size: $font-size-text;
    }

    .amet {
        font-size: $font-size-text;
    }
}


.hello-div ul {
    list-style: none;

}

.hello-div ul {
    li {
        color: $color-text;
    }
}